/* 
    Document   : custom
    Created on : 18.03.2014, 01:59:44
    Author     : Michal Tuleja <michal.tuleja@outlook.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#task-list tr {
    font-size: 16pt;
}

.task-checkbox {
    width: 24px;
    height: 24px;
}

.hidden {
	visibility:collapse;
}

.hidden-container {
	display:none;
}

.align-right {
	float:right;
	
}

.right-inner-addon {
    position: relative;
	display: table;
	border-collapse: separate;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.left-inner-addon {
    position: relative;
	display: table;
	border-collapse: separate;
}
.left-inner-addon input {
    padding-left: 35px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.width-full {
	width: 100%;
}

.panel-group .panel + .panel {
    margin-top: 0px;
}

.task-done {
  background-color: #5DE100;
}

.task-list-header {
	background-color: #F5F5F5;
	/*border-bottom-color: #DDD;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-left-color: #DDD;
	border-right-color: #DDD;
	border-top-color: #DDD;*/
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	padding: 10px 15px;
	/*
	border-bottom-color: #DDD;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: #DDD;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #DDD;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #DDD;
	border-top-style: solid;
	border-top-width: 1px;*/
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
	line-height: 20px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	-moz-box-sizing: border-box;
	-moz-border-radius: 3px;
	border-radius: 0px;
}

.task-list-title {
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 17px;
	font-weight: 500;
	line-height: 17.6px;
	margin-bottom: 0px;
	margin-top: 0px;
	-moz-box-sizing: border-box;
}

.task-list-desc {
	background-color: #FFF;
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	-moz-box-sizing: border-box;
}

.task-list-body {
	background-color: #FFF;
	color: #333;
	display: block;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	-moz-box-sizing: border-box;
}

.task-list-desc.collapse {
	display: none;
}

.task-list-desc.collapse.in {
	display: block;
}

.task-list-desc.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .35s ease;
          transition: height .35s ease;
}

.table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    padding: 10px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857;
	vertical-align: middle;
    border-top: 1px solid #DDD;
}

<!--TODO-->

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-group .panel {
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 4px;
}

.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}