RewriteEngine  on
#RewriteBase /

RewriteCond 	      %{REQUEST_FILENAME} !-f
RewriteRule rest/ rest/index.php [L]

RewriteCond         %{REQUEST_URI} !public_html 
RewriteCond         %{REQUEST_URI} !rest/
RewriteRule  ^(.*)$  public_html/$1  [L]

