RewriteEngine  on
#RewriteBase /

RewriteCond 	      %{REQUEST_FILENAME} !-f
#RewriteCond         %{REQUEST_URI} !rest/index.php 
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*)$ index.php?__route__=/$1 [QSA,NC,L]

#RewriteRule ^/rest/(.*)\?*$ index.php?__route__=/$1 [L,QSA]
#RewriteRule rest/(.*)$ rest/index.php?__route__=/$1 [L]


