<!-- Fixed navbar -->
<div id="navbar" class="navbar navbar-default navbar-fixed-top" data-bind="visible: isVisible" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" id="logo" data-bind="click: sync">TODO List</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li data-bind="visible: isAdmin"><a href="admin.html"><span class="glyphicon glyphicon-cog"></span> Administracja</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <span data-bind="text: userName">User Name</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="show-profile">Profil</a></li>
                        <li><a href="#">Ustawienia</a></li>
                        <li class="divider"></li>
                        <li><a href="#" data-bind="click: logout">Wyloguj</a></li>
                    </ul>
                </li>
                <li>
                    <a>
                        <span class="glyphicon glyphicon-refresh" data-bind="visible: syncSign.refresh" title="Synchronizacja..."></span>
                        <span class="glyphicon glyphicon-cloud" data-bind="visible: syncSign.cloud" title="Połączony z serwerem"></span>
                        <span class="glyphicon glyphicon-import" data-bind="visible: syncSign.local" title="Lokalna lista"></span>
                        <span class="glyphicon glyphicon-exclamation-sign" data-bind="visible: syncSign.error" title="Błąd podczas synchronizacji"></span>
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>