<div class="container">
    <table class="table table-condensed" id="task-list" data-bind='foreach: items'>
        <tr class="task-list-header">
            <td class="collapsed" data-toggle="collapse" data-parent="#task-list" data-bind="attr: {href: '#item-list-collapsable' + $index()}">
                <span data-bind="text: name"></span>
            </td>
            <td><input type="checkbox" data-bind="checked: status, event: {change: $parent.onChange }" class="task-checkbox align-right" /></td>
        </tr>
        <tr class="task-list-body">
            <td colspan="2" class="task-list-desc collapse" data-bind="attr: {id: 'item-list-collapsable' + $index()}" style="padding-left: 5%; padding-right: 10%;">
                <div class="panel panel-default" >
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-9">
                                <p><span data-bind="text: description"></span></p>
                                <p style="font-family: Courier">
                                    server_ctime: <span data-bind="text: ctime"></span><br />
                                    server_mtime: <span data-bind="text: mtime"></span><br /> 
                                    local_mtime: <span data-bind="text: local_mtime"></span>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <div class="pull-right">
                                    <button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>                                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>

</div>