<div class="container hidden-container" id="profile-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <p>Profil</p>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">Imię:</div>
                <div class="col-md-8"><b>Michał</b></div>
            </div>
            <div class="row">
                <div class="col-md-4">Nazwisko:</div>
                <div class="col-md-8"><b>Tuleja</b></div>
            </div>
            <div class="row">
                <div class="col-md-4">Email:</div>
                <div class="col-md-8"><b>user@example.com</b></div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="input-group">
                <div class="btn-group">
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#name-modal"><span class="glyphicon glyphicon-user"></span> Zmień imię i nazwisko</button>
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#email-modal"><span class="glyphicon glyphicon-envelope"></span> Zmień email</button>
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#password-modal"><span class="glyphicon glyphicon-lock"></span> Zmień hasło</button>
                </div>
            </div>
        </div>
    </div>
</div>